/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/* -------------------------------------------------- */

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

h2 {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}

/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/

/* tvoje styly sem */

/*až budu mít větší obrázky zkusím použít
    filter: alpha(opacity=110);
	-moz-opacity: 1.1;
	-khtml-opacity: 1.1;
	opacity: 1.1;*/

.hlavni-recept{
    background-image: url(images/burger.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex-basis: 33.3%;
}
.recept-recept2{
    background-image: url(images/sushi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.recept-recept3{
    background-image: url(images/rajcata.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.recept-recept4{
    background-image: url(images/kure.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.recept-recept5{
    background-image: url(images/grilovani.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
body{
    color: #ffffff;
}
.recept-kategorie,
.recept-komentar{
    font-size: 0.8rem;
    font-weight: 400;
}
h2{
    font-weight: 800;
}
.doporucujeme{
    display: flex;
}
.sloupec{
    flex-basis: 33.3%;
}
/*@media screen and (min-height: 200px){
    .hlavni-recept{
        font-size: 1.75rem;
    }
}*/